<body>
  <div class="container">
    <div class="jumbotron">
      <h1>Welcome to burger beast!</h1>
    </div>
    <div class="row">
      <div class="col-6">
        <form class="create-form">
          <h2>Add a Burger</h2><hr>
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <label class="control-label" for="brg">Burger Name:</label>
                <input class="form-control" type="text" id="brg" name="name" placeholder="ex: Bacon Cheeseburger">
              </div>
            </div>
            <div class="col-6" id="sButton">
              <button class="btn btn-default" type="submit" id="submit">Add Burger</button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-6" id="uBurger">
        <h1>Your burgers!</h1>
        <h3>(Click to devoure burgers.)</h3><hr>
        <ul>
          {{#each burgers}}
          {{#unless devoured}}
          <button class="buttonEat" id={{id}} changeState={{devoured}}>{{burger_name}}</button>
          {{/unless}}
          {{/each}}
        </ul>
      </div>

    </div>
    <div class="row">
      <div class="col-12">
        <h2>Burgers that have been devoured!</h2>
        <ul>
          {{#each burgers}}
          {{#if devoured}}
          <p>{{burger_name}}</p>
          {{/if}}
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
  </div>
</body>